* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #797373;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #17d6a6;
}

.nav-center input {
  width: 320px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-right a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.mobile-menu a {
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #eee;
}
.hero {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 8px rgba(0,0,0,0.6);
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}
.hero-title {
  z-index: 2;
}
.hero img {
  z-index: 1;
}

.products {
  padding: 40px 30px;
  background-color: #333 ;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #16e053;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: #41b89a;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #111;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.product-card button:hover {
  background: #333;
}
.product-card img {
  object-fit: contain;
  background: #2c1818;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-center {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu.active {
    display: flex;
  }
}
